.paragraph{
  font-size: 25px;
  padding-top: 7px;
}

.dark-background{
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px #35eea4;
  display: block;
  color: #35eea4;
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 40px; 
}
  
  .button-effect{
    cursor: pointer;
      box-shadow: 0 3px 20px 0 #35eea4;
      background: none;
      border: none;
      border-radius: 5px;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      font-size: 16px;
      letter-spacing: 8px;
      margin-top: 20px;
      padding: 10px;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; 
    }
  

   .social-Icons{
      height: 50px;
      width: 25px;
    }
 